streamlit
langchain
langchain-community
langchain-text-splitters
langchain-chroma
chromadb
pymupdf
sentence-transformers
mlflow
python-dotenv
pydantic
pyyaml
pandas
numpy<2
pytest
tqdm
openai
langchain-huggingface
ragas