streamlit
langchain
langchain-openai
langchain-community
langchain-text-splitters
langchain-chroma
chromadb
pymupdf
sentence-transformers
mlflow
python-dotenv
pydantic
pyyaml
pandas
numpy<2
pytest
tqdm
openai
langchain-huggingface
ragas==0.2.11
datasets